body {
  font-family: Arial, Helvetica, sans-serif;

  --text-color: #00d4d5;
  --background-color: white;
  --hover-color: grey;
}

.frame {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /*border-radius: 5px;
  border: 2px solid;*/
  text-align: center;
}

.calculator {
  width: 200px;
  margin: auto;
}

.buttons {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 2rem;
}

.button {
  padding: 3rem;
}

.content {
  color: var(--text-color);
  width: 90px;
  height: 50px;
  background-color: var(--background-color);
  border: 1px solid var(--text-color);
  cursor: pointer;
  font-size: 20px;
  border-radius: 15px;ss
  
}

.content:hover {
  background-color: var(--hover-color);
}

#display {
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 185%;
  color: var(--text-color);
  background-color: var(--background-color);
  font-size: 25px;
  border: none;
  text-align: right;
}

.second-display {
  border-left: 2px solid var(--text-color);
}

#calcWayShow {
  line-height: 1.2;
  height: 1.2em;
  text-align: right;
  background-color: green;
  color: white;
  overflow: auto;
}

#display-two {
  margin-bottom: 2rem;
  padding: 0.4rem;
  width: 50vh;
  height: 45vh;
  color: var(--text-color);
  background-color: black;
  font-size: 25px;
  border: none;
  text-align: end;
}
